<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>ConnectionSessionFilter</filter-name>
  	<display-name>ConnectionSessionFilter</display-name>
  	<description></description>
  	<filter-class>com.myapp.app.filter.ConnectionSessionFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>MemberTypeAccessFilter</filter-name>
  	<display-name>MemberTypeAccessFilter</display-name>
  	<description></description>
  	<filter-class>com.myapp.filter.MemberTypeAccessFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>ConnectionSessionFilter</filter-name>
  	<url-pattern>/ConnectionSessionFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>MemberTypeAccessFilter</filter-name>
  	<url-pattern>/MemberTypeAccessFilter</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<servlet-class>com.myapp.app.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<servlet-class>com.myapp.app.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CloseAccountServlet</servlet-name>
  	<display-name>CloseAccountServlet</display-name>
  	<description></description>
  	<servlet-class>com.myapp.app.controller.CloseAccountServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.myapp.app.controller.LogoutServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/visitor/login.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/visitor/register.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CloseAccountServlet</servlet-name>
  	<url-pattern>/CloseAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
  <welcome-file>/jsp/index.jsp</welcome-file>
  </welcome-file-list>
  
</web-app>
